{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block body %}
	<div class="flex justify-center">
		<a class="btn btn-primary mb-3 mr-2" href="{{ path('calendar_new') }}">Ajouter un évènement</a>
		<a class="btn btn-primary mb-3" href="{{ path('calendar_index') }}">Liste des évènements</a>
	</div>
	<div class="calendar" id="calendrier"></div>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
let calendarElt = document.querySelector("#calendrier")

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
locale: 'fr',
timeZone: 'Europe/Paris',
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridWeek'
},
events: {{ data|raw }},
editable: true,
eventResizableFromStart: true
})

calendar.on('eventChange', (e) => {
let url = `/api/${
e.event.id
}/edit`
let donnees = {
"title": e.event.title,
"description": e.event.extendedProps.description,
"start": e.event.start,
"end": e.event.end,
}

// Send data
let xhr = new XMLHttpRequest

xhr.open("PUT", url)
xhr.send(JSON.stringify(donnees))
})

calendar.render()
}
	</script>

{% endblock %}
